body, html {
  padding: 10px;
  margin: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 40px);
}

.title {
  font-size: 3rem;
  color: #2a3388;
  margin-bottom: 50px;
}

.input {
  width: 400px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
label {
  color: #443f3f;
  font-size: 1.1rem;
  width: 100px;
}
input[type=text]{
  padding: 10px;
  border-radius: 12px;
  border: none;
  width: calc(300px - 20px);
}
select {
  width: 300px;
  padding: 10px;
  border-radius: 12px;
}
.buttonContainer {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  width: 100%;
  background: #2a3388;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #FFF;
}